# macOS 시스템 파일 무시
.DS_Store

# 도우미 문서 무시
HELP.md

# Java 컴파일 결과물
out/

# 빌드 결과물 디렉토리 무시
target/
build/
libs/

# 예외적으로 필요할 경우 target 포함 허용
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle 관련 캐시 및 빌드 디렉토리 무시
.gradle/

# IntelliJ IDEA 설정 파일 무시
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code 설정 디렉토리 무시
.vscode/

# Spring Tool Suite (STS) 관련 파일 무시
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans 관련 디렉토리 무시
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

newsummarize-v1.zip
